/*Arrumando teste*/
*{
    margin: 0;
    padding: 0;
}
header {
    background-color: yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 130px;
    width: 100%;
    display: flex;
    
}
body{
    width: 90%;
    background-image: linear-gradient(yellow,white);
    margin-left: 90px;
    
}
#main{
    width: 100%;
    
}
#logo img{
    height: 150px;
    width: 250px;
   
}
#banner img{
    border-width: 2px;
    border-color: black;
    border-style: solid;
    width: 100%;
}
#busca{
    display: block;
    
}
#busca input{
    margin-top: 50px;
    font-size: 20px;
    width: 700px;
    height: 30px;
    

    
    
}

#navbar{
    display: flex;
    position: relative;

}
#navbar a{
    text-decoration: none;
    color: black;
    padding: 50px;
    font-size: larger;
}
#cards{
    display: flex;
    justify-content: space-between;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    padding: 15px;  
}
#pagamentos{
    margin-top: 30px;
}
.titulo{
    text-decoration: underline;
    color: royalblue;
    display: block;
        
    
    
    

}
.card img{
    margin: 20px;
    border: solid;
    border-radius: 52px;
    height: 220px;
    cursor: pointer;
    
    

}
.texto{
    display: flex;
    font-size: 20px;
    padding: 10px;
    justify-content: center;
    cursor: pointer;

}
    